<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<!-- Database Connection -->
	<connectionStrings>
		<add name="dbcon"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MobileHub.mdf;Integrated Security=True"
     providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Disable ASP.NET Unobtrusive Validation Error -->
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<system.web>

		<!-- ASP.NET Framework Settings -->
		<compilation debug="true" targetFramework="4.8" />

		<httpRuntime targetFramework="4.8" />

	</system.web>

</configuration>